* {
  margin: 0;
  padding: 0;
}
main {
  margin: 0 auto;
  width: 90%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.container {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.imgsize {
  width: 250px;
  height: 400px;
}

.gallerypiece {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}